:root {
  --grey: #252525;
  --primary: #f22626;
  --accent: #00aeff;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

header {
  height: 100svh;
  height: 100vh;
}

footer {
  background: var(--grey);
  color: white;
  border-top: 10px solid;
  border-color: var(--accent);
}

section {
  padding: 2rem 0;
}

.nav-link {
  margin: 1rem;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--grey);
  clip-path: inset(0 -100vmax);
  background-color: var(--grey);
  color: white;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  object-position: 50% 50%;
  position: relative;
  isolation: isolate;
  height: inherit;
  color: white;
  display: grid;
  place-content: center;
  filter: grayscale(0.5);
}

.bg-image::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(--grey);
  opacity: 0.7;
}

.class-card {
  height: 50svh;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.class-card > * {
  padding: 20px;
  transition: transform 1s;
}

.class-card > *:hover {
  transform: scale(1.2);
}

.affimg {
  width: 150px;
  height: 150px;
}

/* FAQ */
.terms {
  min-height: 100vh;
}

.galleryCaption {
  display: none;
  color: white;
}

.galleryImg:hover {
  filter: brightness(40%);
}

.galleryItem:hover .galleryCaption {
  display: block;
}

.weekday-name {
  background-color: #eeeeee;
  padding: 10px;
}

.weekday-body {
  padding: 10px;
}

.weekday-content {
  color: white;
  background-color: var(--accent);
  max-width: 250px;
  border-radius: 5px;
  padding: 10px;
  font-weight: 500;
}
