/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

:root {
  --grey: #252525;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

i {
  color: white;
}

a {
  text-decoration: none !important;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.nav-link {
  margin: 1rem;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--grey);
  clip-path: inset(0 -100vmax);
  background-color: var(--grey);
  color: white;
}

/* Index */
header {
  height: 100svh;
  height: 100vh;
  background: url("../public/img/banner-alt.jpg") no-repeat center center;
  background-size: cover;
  display: grid;
  place-content: center;
  color: white;
}

.class-banner {
  height: 50svh;
  height: 50vh;
  position: relative;
}

.banner-text {
  position: absolute;
  color: white;
  width: 80%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.banner1,
.banner2,
.banner3 {
  height: inherit;
  background: url("../public/img/advanced.jpg") no-repeat center center;
  background-size: cover;
  filter: grayscale(1) brightness(40%);
}

.announcements,
.banner {
  border-bottom: 10px solid;
  border-color: #f22626;
}

.affimg {
  width: 150px;
  height: 150px;
}

/* FAQ */
.terms {
  min-height: 100vh;
}

.galleryCaption {
  display: none;
  color: white;
}

.galleryImg:hover {
  filter: brightness(40%);
}

.galleryItem:hover .galleryCaption {
  display: block;
}

footer {
  border-top: 10px solid;
  border-color: #00aeff;
}

ul {
  list-style: none;
}
